@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,700i,800,900,900i');

body{
  background-color: #F4F4F4;
  font-family: 'Montserrat', sans-serif;
}
.infoNutrimental{
width: 100%;
}
.navDieta{
  margin-left: 60px;
  margin-top: 20px;
  width: 100%;
}
.contenedorNutrimentos{
  border-radius:10px;
  margin-top: 20px;
padding: 20px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
}
.tituloInfo{
  width: 100%;
  border-bottom:solid 5px black;
  text-align: left;
}
.info{
  width: 100%;
  border-bottom:solid 1px black;
  text-align: left;
  padding-top:5px;
  padding-bottom:-5px;
}
.kcalinfo{
  width: 100%;
  border-bottom:solid 3px black;
  text-align: left;
  padding-top:5px;
  padding-bottom:-5px;
}
.infoSub{
  width: 90%;
  border-bottom:solid 1px black;
  text-align: left;
  float: right;
  padding-top:5px;
  padding-bottom:2px;
}
.h4Title{
  font-weight: 800;
  text-align: left;
}
.input-eq-platillo{
  width: 100%;
  max-width: 100%;
}
.trigger{
  background-color: #009C1A;
  height: 30px;
  width: 30px;
  margin-top: -35px !important;
  position: relative;
  border-radius:5px;
  margin:0 auto;
  margin-bottom: 8px;	
  color:white;
  padding-top:5px;
}
.trigger:after {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 59, 25, 0);
	border-top-color: #009C1A;
	border-width: 5px;
	margin-left: -5px;
}
.triggerRed{
  background-color: red;
  height: 30px;
  width: 30px;
  margin-top: -35px !important;
  position: relative;
  border-radius:5px;
  margin:0 auto;
  margin-bottom: 8px;	
  color:white;
  padding-top:5px;
 -webkit-animation: trigerRed 0.7s infinite;  /* Safari 4+ */
 -moz-animation:    trigerRed 0.7s infinite; /* Fx 5+ */
 -o-animation:      trigerRed 0.7s infinite; /* Opera 12+ */
  animation:         trigerRed 0.7s infinite; /* IE 10+, Fx 29+ */
}

@keyframes trigerRed {
  
  0%{
    margin-top: -35px;
  }
  50%{
    margin-top: -55px;
  }
  100%{
      margin-top: -35px;
  }
}

.triggerRed:after {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 59, 25, 0);
	border-top-color: rgb(255, 0, 0);
	border-width: 5px;
	margin-left: -5px;
}
.triggerGrey{
  background-color: gray;
  height: 30px;
  width: 30px;
  margin-top: -35px !important;
  position: relative;
  border-radius:5px;
  margin:0 auto;
  margin-bottom: 8px;	
  color:white;
  padding-top:5px;
}
.triggerGrey:after {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 59, 25, 0);
	border-top-color: gray;
	border-width: 5px;
	margin-left: -5px;
}
.noMostrar{
display: none;
}
.siMostrar{
  background-color:white;
  border-top:none; 
  border-bottom:solid 1px #DCDCDC;
  border-left:solid 1px #DCDCDC;
  border-right:solid 1px #DCDCDC;
  max-width: 93.5%;
  min-width: 93.5%;
  height: auto;
  max-height: 200px;
  overflow-y:scroll;
  position: absolute;
  z-index: 999;
}
.seleccionAlimentos{
  background-color:white;
 font-size: 10px;
  max-width: 96%;
  min-width: 96%;
  overflow-y:scroll;
}
.alimentosYaSeleccionados{
 font-size: 10px;
  width: 100%;
  overflow-y:scroll;
}
.colSeleccionAlimentosTitle{
  overflow: hidden;
  text-align: center !important;
  width: 13.5%;
  font-size: 12px;
}
.colSeleccionAlimentosProTitle{
  overflow: hidden;
  text-align: center !important;
  width: 19%;
  font-size: 12px;
}
.colSeleccionAlimentos{
  overflow: hidden;
  text-align: center !important;
  width: 13.5%;
}
.colSeleccionAlimentosPro{
  overflow: hidden;
  text-align: center !important;
  width: 19%;
}
.colSugerenciaAlimentos{
  overflow: hidden;
  text-align: center !important;
  font-size: 11px;
}
.resultadoAlimentosBusqueda{
  border-bottom: solid 1px #DCDCDC;
  height: 30px;
  padding-top: 10px;
  padding-bottom:30px;
}
.resultadoAlimentosBusqueda:hover{
  background-color: #5CC416;
  height: 30px;
  padding-top: 10px;
  padding-bottom:30px;
  color: white;
}
.regresarS {
  float: left;
  margin-top:-15px;
}
.siguienteStepDieta{
  float: right;
  margin-right: 100px;
 margin-top:-15px;
}
.siguienteStepDieta2{
  float:left;
  margin-right: 100px;
margin-top: 8px;
}
.gridStepsDietas{
  margin-left: 180px;
  margin-top: 10px;
}
/***   ESTILOS STEPS ****/
.row-paso{
  text-align: center;
}
.col-paso{
  margin-right:-55px !important ; 
}
.tittle-step{
  margin-left: -20px;
  text-align: left;
}
.tittle-step2{
  margin-left: -10px;
  text-align: left;
}
.dieta-activado{
  background-color: #7ED321;
  border-radius: 80px;
  color:white;
  text-align: center;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.formulario1{
  margin-top: 30px;
}
.step-dieta-activado{
  color:white;
  line-height: 12px;
}
.line-activado{ height: 3px; width: 80%; background-color: #7ED321;   z-index: 0;}
.pasomarkactivado{
  color: white;
}
.pasomarkdesactivado{
  color:#ECE6E6;
}
.dieta-desactivado{
  background-color: white;
  border-radius: 100px;
  color:grey;
  border:3px solid #7ED321;
  text-align: center;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.step-counter-desactivado{
  color:#DEDEDE;
  line-height: 5px;
}
.gridgrid{
  margin-left: 200px;
  margin-top: 20px;
}
.line-desactivado{ height: 3px; width: 80%; background-color: #DEDEDE; z-index: 0;}
.line-3{ height: 3px; width: 80%; background-color: #F4F4F4; z-index: 0;}
.pasomarkactivado{
  color: #7ED321;
}
.pasomarkdesactivado{
  color:#ECE6E6;
}
/***   TERMINA ESTILOS STEPS ****/
li{
  list-style: none;
  padding: 5px;
}
.porcentajeKcal{
  color: #B7A54E;
}
.resultadosContainer{
  margin: 0 auto;
  width: 98%;
  height: 100px;
  margin-left: 200px;
}
.tittleResultado{
  float: left;
 width: 12%;
 height: 20px;
 text-align: right;
}
.dietoTittle{
  width: 45%;
  float: left;
  border-bottom:solid 3px #F9008F;
}
.dietoTittle2{
  width: 54%;
  float: left;
  border-bottom:solid 3px #7ED321; 
}
.resultUno{
  float: left;
 width: 19.6%;
 height: 20px;
}
.eqTablero{
  float: left;
 width: 11%;
 height: 20px;
}
.resultUno{
  float: left;
 width: 19.6%;
 height: 20px;
}
.resultDos{
  float: left;
  width: 19.6%;
  height: 20px;
 }
.resetFG{
  padding-bottom: 0px;
  margin-bottom:0px;
  background-color: transparent;
}
.ulAlimentos{
  text-align: right;
  padding: 0px;
 }
.ulRange{
  width: 100%;
  padding: 0px;
}
.ulEq{
  padding: 0px;
}
.liUlAlimentos{
  border-bottom:solid 1px #D9D5D5;
  height: 40px;
  line-height: 30px;
}
.liEq{
  height: 40px;
  font-weight: 100;
  width: 100%;
  border-bottom:solid 1px #D9D5D5;
  line-height: 30px;
}
.liDesayuno{
  height: 40px;
  border-bottom:solid 1px #D9D5D5;
  width: 100%;
  padding:0px !important;
}
.liDesayunofinal{
  height: 40px;
  width: 100%;
  padding:0px !important;
  line-height: 30px;
}
.asignadoDieta{
  float:  left;
}
.desayunoDieta{
  background-color: #E5E5E5;
  text-align: center;
  border-radius:10px;
  padding: 0px;
  overflow: hidden;
}
.colacion1Dieta{
  background-color: #E5E5E5;
  text-align: center; 
  border-radius:10px;
  padding: 0px;
}
.comidaDieta{
  background-color: #E5E5E5;
  text-align: center; 
  border-radius:10px;
  padding: 0px;
}

.frutasDesayunoRojo{
  border-bottom: solid 1px red;
  border-left:none; border-top:none; border-right:none;
  box-shadow: none;
  text-align: center;
  height: 40px !important;
 margin-bottom: 0px;
 line-height: 20px;
 padding-left: 20px !important;
  background-color:#F9AAAA;
  
}
.salirModal{
    position: relative;
    z-index: 999999;
    margin-right: 20px;
    margin-top: -75px;
    float: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    /* color: #000; */
    text-shadow: none;
    filter:none;
    opacity: 1;
    background-color: red !important;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: none;
    color:red;
  
}
.salirModal:hover{
  color:brown;
     float: right;
    /* font-size: 21px; */
    font-weight: 700;
    line-height: 1;
    /* color: #000; */
    /* text-shadow: 0 1px 0 #fff; */
    filter:none;
    opacity: 1;
      background-color: red;
}
.salirModalDesactivado{
  position: absolute;
  z-index: 999999;
  display: none;
}
.frutasDesayunoVerde{
  border-bottom: solid 1px #D0D0D0;
  border-left:none; border-top:none; border-right:none;
  box-shadow: none;
  text-align: center;
  height: 40px !important;
 margin-bottom: 0px;
 line-height: 20px;
 padding-left: 20px !important;
  background-color:#E5FBD5;
}

.inputDieta{
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  height: 40px !important;
 margin-bottom: 0px;
 line-height: 20px;
 padding-left: 20px !important;
}
.parrafoDieta{
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
}
.gridPlatillos{
  height: auto;
  padding: 0px;
}
.overDiv{
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 9999;
  border:dotted 3px #DCDCDC;
  line-height: 470px;
   color:#c9c9c9;
   cursor: pointer;
}
.overDiv:hover{
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 99;
  border:dotted 3px #DCDCDC;
  line-height: 470px;
   color:grey;
}
.platillo-1-desactivado{
  padding-top:50px;
  width: 96.5%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 99;
  border:dotted 3px #DCDCDC;
   color:#c9c9c9;
   cursor: pointer;
   border-radius: 10px;
}
.platillo-1-desactivado:hover{
  width: 96.5%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 99;
  border:dotted 3px #DCDCDC;
  color:grey;
  cursor: pointer;
}
.platillo-2-desactivado{
  padding-top:50px;
  width: 96.5%;
  height: 49%;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 99;
  border:dotted 3px #DCDCDC;
  color:#c9c9c9;
  cursor: pointer;
  border-radius: 10px;
}
.platillo-2-desactivado:hover{
  width: 96.5%;
  height: 49%;
  background-color: rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 99;
  border:dotted 3px #DCDCDC;
  line-height: 470px;
  color:grey;
   cursor: pointer;
}
.platillo-3-desactivado{
  padding-top:50px;
  width: 96.5%;
  height: 32%;
  background-color:rgba(255, 255, 255, 0.781);
  position: absolute;
  z-index: 99;
  border:dotted 3px #DCDCDC;
   color:#c9c9c9;
   cursor: pointer;
   border-radius: 10px;
}
.nohayquemostrar{
display: none;
}
.hayquemostrar{
  margin-top: 20px;
}
.platillo-1-activado{
 display: none;
}
.platillo-2-activado{
  display: none;
 }
 .platillo-3-activado{
  display: none;
 }

.mostrarPaso2{
  display: none;
}
.platillo-2-invisible{
  display: none;
}
.formTittlePlatillo{
  border: none;
  text-align:center;
  font-size: 30px !important;
  -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,.075) !important; 
  box-shadow: inset 0 0px 0px white !important;

}

.platillo1{
  width: 100%;
  min-height: 300px;
  height:auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:10px;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  
}
.circuloCheck{
  border-radius:100px;
  background-color: #009C1A;
  color:white;
  width: 25px;
  height: 25px;
  float: right;
position: absolute
}
.circuloCheckRed{
  border-radius:100px;
  background-color: red;
  color:white;
  width: 25px;
  height: 25px;
  float: right;
position: absolute
}
.icoCheckDietas{
  margin-top: 2.5px;
}

.icon{
  width: 25px;
  height: 25px;
}
.iconDieta{
  width: 35px;
  height: 35px;
}
.btnDisplayNone{
  display: none;
}

.modalDietas{
  overflow: scroll;
  padding-top: 2%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  margin-top: -94px;
background-color: white}
.dietaADesactivada{
display: none;}

.contenidoModalDietas{
  width: 100%;
  height: auto;
  background-color:#F9F9F9;
  text-align: center;
  margin: 0 auto;
  max-height: 95%;
  overflow: scroll;
  margin-top: 25px;
  padding-bottom:60px;

}
.footerModal{
  background-color:white;
  width: 100%;
  height: 60px;
  position: fixed;
  margin-top:-20px;
  padding: 10px;
  box-shadow: 0 -3px 8px rgba(201, 201, 201, 0.2), 0 -3px 8px rgba(201, 201, 201, 0.2);

}
.headDietasModal{
  padding: 10px;
}
.dietaConfiguracion{
  width: 100%;
  height: auto;
  background-color: #FDF5BF;
  line-height: 35px;
}

.dietoCalculocomponent{
  height: auto;
  width: 100%;
  display: none;
}
.containerPanelDietas{
  width: 100%;
  margin-top: -10px;
  padding: 20px;
  /** 
  background: rgba(252,244,247,1);
  background: -moz-linear-gradient(left, rgba(252,244,247,1) 0%, rgba(252,244,247,1) 45%, rgba(232,245,213,1) 45%, rgba(232,245,213,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,244,247,1)), color-stop(45%, rgba(252,244,247,1)), color-stop(45%, rgba(232,245,213,1)), color-stop(100%, rgba(232,245,213,1)));
  background: -webkit-linear-gradient(left, rgba(252,244,247,1) 0%, rgba(252,244,247,1) 45%, rgba(232,245,213,1) 45%, rgba(232,245,213,1) 100%);
  background: -o-linear-gradient(left, rgba(252,244,247,1) 0%, rgba(252,244,247,1) 45%, rgba(232,245,213,1) 45%, rgba(232,245,213,1) 100%);
  background: -ms-linear-gradient(left, rgba(252,244,247,1) 0%, rgba(252,244,247,1) 45%, rgba(232,245,213,1) 45%, rgba(232,245,213,1) 100%);
  background: linear-gradient(to right, rgba(252,244,247,1) 0%, rgba(252,244,247,1) 45%, rgba(232,245,213,1) 45%, rgba(232,245,213,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf4f7', endColorstr='#e8f5d5', GradientType=1 );
  **/
}
.uno{width: 10%; float: left; overflow: hidden;}
.dos{width:10%; float: left; padding-left:5px;}
.tres{width:10%; float: left;  padding-left:5px;}
.cuatro{width:5%; float: left;}

.color{
  background-color: #009C1A;
  color: white;
}
a{
  color: #929292;
}
.ic{vertical-align: -4px;}
.left-menu{
  width: auto;
}
.noAceptado{
  display: inline;
  width: 40%;
  float: left;
  padding: 8px;
}
.solicitudAceptada{
  display: none;
}
.imagenMuestra{
  max-width: 150px;
  min-height: 150px;
  text-align:center;
  margin: 0 auto;
 
}
.enfermedadActual{
  margin-left:5px;
  background-color: #FF42AD;
  font-size: 13px;
  border-radius: 20px;
  padding: 7px;
  height: auto;
}
.enfermedadesFamiliares{
  margin-left:5px;
  background-color: #8FE016;
  font-size: 13px;
  border-radius: 20px;
  padding: 7px;
  height: auto;

}
.icoHistorial{
  padding-top: 10px;
}
.labelHistorial{
  float: left;
  margin: 8px;
  margin-left: 0px;
}
.horaHistorial{
  background-color: #00D0FF;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 12px;
  line-height: 60px;
  color: white;
  border-radius: 100px;
  z-index:99999 !important;
  float:left;
  position: relative;
}
.horaHistorial-comida{
  background-color: #FF9800;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 12px;
  line-height: 60px;
  color: white;
  border-radius: 100px;
  z-index:99999 !important;
  float:left;
  position: relative;
}
.horaHistorial-cena{
  background-color: #601E00;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 12px;
  line-height: 60px;
  color: white;
  border-radius: 100px;
  z-index:99999 !important;
  float:left;
  position: relative;
}

.gridHistorial{
  width: 100%;
  padding: 0px;
}
.tittleHistorial{
  color:#909090;
  margin-left: 20px;
}
.chipsPerfil{
  width: 100% !important;
}
.cardPerfil{
  margin:10px;
  border-radius:10px;
}
.cardPerfil-desayuno{
  margin:10px;
  background-color: #E9E9E9;
  border-radius:10px;
  width: 90%;
  padding: 15px;
  padding-left: 60px;
  margin-top: -55px;
  float: right;
  z-index:00000 !important;
}
.control-form{
  width: 100%;
  height: 20px;
  text-align:center !important;
  margin-bottom:30px;
}
.control-form-multiselect-2{
  width: 100%;
  height: 20px;
  text-align:center !important;
  margin-bottom:30px;
}
.control-form-dieta{
  width: 100%;
  height: 20px;
  text-align:center !important;
}
.control-form-dieta-1{
  width: 100%;
  height: 20px;
  text-align:center !important;
  margin-bottom:150px;
}
hr{
  border: solid 1px #DEDEDE;
  margin-top: 80px;
}
.select-1{
  width: 33.3%;
  height: 20px;
  float: left;
  padding:10px;
}
.input-dieta-1{
  width: 33.3%;
  height: 20px;
  float: left;
  padding:10px;
  
}

.multiselect-1{
  width: 100%;
  height: auto;
  float: left;
  padding-bottom:20px;
}
.css-12jo7m5{
  background-color: #A7F551;
}
.css-1alnv5e{
  background-color: #A7F551;
}
.css-2o5izw{
  border-color: #009C1A !important; 
  box-shadow: 0 0 0 1px #009C1A;
}
.input-1{
  width: 33.3%;
  height: 20px;
  float: left;
  padding:10px;
}
.input-3{
  width: 50%;
  height: 20px;
  float: left;
  padding:10px;
}
.input-4{
  width: 33.3%;
  height: 20px;
  float: left;
  padding:10px;
  margin-top: 60px;
}
.textarea-1{
  width: 100%;
  height: 20px;
  float: left;
  padding:10px;
  margin-top: 25px;
}
.textarea-2{
  width: 100%;
  height: 20px;
  float: left;
  padding:10px;
  margin-top: 55px;
}
.button-1{
  height: 20px;
  float: right !important;
  padding:10px;
  margin-top:80px;
}
.rangos{
  height: 20px;
  width:100%;
  z-index: 9;
  position: absolute;
  border-radius:20px;
  margin-top: 20px;
  background: rgba(145,232,66,1);
background: -moz-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,234,0,1) 52%, rgba(255,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145,232,66,1)), color-stop(52%, rgba(255,234,0,1)), color-stop(100%, rgba(255,0,0,1)));
background: -webkit-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,234,0,1) 52%, rgba(255,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,234,0,1) 52%, rgba(255,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,234,0,1) 52%, rgba(255,0,0,1) 100%);
background: linear-gradient(to right, rgba(145,232,66,1) 0%, rgba(255,234,0,1) 52%, rgba(255,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#ff0000', GradientType=1 );
}
.rango1{
   border-right:solid 2px white;
   width: 20%;
   height: 20px;
   float:left;
   text-align: center;
   padding-top:25px;
}
.rango2{
  border-right:solid 2px white;
  width: 20%;
  height: 20px;
  float:left;
  text-align: center;
  padding-top:25px;
}
.rango3{
  border-right:solid 2px white;
  width: 20%;
  height: 20px;
  float:left;
  text-align: center;
  padding-top:25px;
}.rango4{
  border-right:solid 2px white;
  width: 20%;
  height: 20px;
  float:left;
  text-align: center;
  padding-top:25px;
}
.rango5{
  width: 20%;
  height: 20px;
  float:left;
  text-align: center;
  padding-top:25px;
}
.ungrid{
  text-align: center !important;
}
.input-form{
  width: 100%;
}
.optionContainer{
  height: 20px;
  background-color: red;
  width: 100%;
  text-align: center !important;
}
.left-menu-item{
  list-style: none;
  margin-bottom:20px;
  color:#888888;
  width: 300px;
  display: inline-block;
}
.search{ margin-top:40px;}
.input-group-addon{
  background-color: white;
  border:none;
  border:solid 1px #D6D6D6;
  border-right: none;
  box-shadow: none;
}
.input-group .form-control{
  border:none;
  background-color:white;
  border:solid 1px #D6D6D6;
  border-left: none;

}
.nav-pills>li {
  background-color: white;
  border-radius: 10px; 
  text-align: center;
  color:#01C216 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 0px;
  fill:#ff0000 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color:#E62C6A !important;
  background-color: white;
  border-radius: 10px; 
  border:0px solid white !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  fill:#ff0000 !important;
}
.card-cliente{
  text-align: center;
  background-color: white;
  border-radius: 10px; 
  padding:20px;
  margin: 20px;

}
.card-cliente-nutriologo{
  
  background-color: white;
  border-radius: 10px; 
  padding:20px;
}
.close{
  float: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    /* color: #000; */
    text-shadow: none;
    filter:none;
    opacity: 1;
    background-color: red !important;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: none;
    color:red;
}
.close:hover{
  color:brown;
     float: right;
    /* font-size: 21px; */
    font-weight: 700;
    line-height: 1;
    /* color: #000; */
    /* text-shadow: 0 1px 0 #fff; */
    filter:none;
    opacity: 1;
      background-color: red;
 
}
.modalPerfil{
  background-color: #F4F4F4;
  padding-bottom:0px;
  border:none;
}
.show{
  width: 100%;
  height: 400px;
}
.noshow{
 display:none;
}
.colHistorialMedico{
  border: solid 1px grey;
  border-radius: 10px; 
}
.tittleHistorialMedico{
  width: 100%;
  border-bottom:solid 1px #BFBFBF;
}
.btnCardPaciente{
  float: right;
  padding-top: 20px;
}
.crearDieta{
  margin-right: 20px;
}
.contenidoCard{
text-align: center;
}
.nombreCard{
  color:#4F4F4F;
  }
.strongCard{
    text-align: center;
    color:#4F4F4F;
    }
    .p-card{ color:grey;}

.img-card-cliente{
  width: 80px;
  height: 80px;
  text-align: center ;
  margin: 0 auto;

}
.verde{
  color: #009C1A;
}
.rojo{
  color: red;
}
.semaforoVerde{
  height: 20px !important;
  width: 20px !important;
  border-radius:100px;
  background-color: #009C1A;
}
.card{
  text-align: center;
}

.paso1visible{
  text-align: center;
}
.paso1invisible{
  display: none;
}
.paso2visible{
  
}
.paso2invisible{
  display: none;
}
.paso3visible{
  
}
.paso2invisible{
  display: none;
}
.alineador{
  display: flex;
  justify-content: center;
  align-items: center;
}

/***   ESTILOS STEPS ****/
.row-paso{
  text-align: center;
}
.col-paso{
  margin-right:-55px !important ; 
}
.tittle-step{
  margin-left: -20px;
  text-align: left;
}
.tittle-step2{
  margin-left: -10px;
  text-align: left;
}
.step-activado{
  background-color: #7ED321;
  border-radius: 80px;
  color:white;
  text-align: center;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.formulario1{
  margin-top: 30px;
}
.step-counter-activado{
  color:white;
  line-height: 12px;
}
.line-activado{ height: 3px; width: 80%; background-color: #7ED321;   z-index: 0;}
.pasomarkactivado{
  color: white;
}
.pasomarkdesactivado{
  color:#ECE6E6;
}

.step-desactivado{
  background-color: white;
  border-radius: 100px;
  color:grey;
  border:3px solid #7ED321;
  text-align: center;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.step-counter-desactivado{
  color:#DEDEDE;
  line-height: 5px;
}
.gridgrid{
  margin-left: 200px;
  margin-top: 20px;
}
.line-desactivado{ height: 3px; width: 80%; background-color: #DEDEDE; z-index: 0;}
.line-3{ height: 3px; width: 80%; background-color: #F4F4F4; z-index: 0;}
.pasomarkactivado{
  color: #7ED321;
}
.pasomarkdesactivado{
  color:#ECE6E6;
}

/***   TERMINA ESTILOS STEPS ****/

.contfoto{

  color:white;
  border-radius: 10px;
  background-image: url('./bgPerfil.png');
  background-size: cover;
 padding:20px;
}
.p-meta{
  color:white;
text-align: center;
}
.continfo{
  padding-top:20px; 
}
.tarjetaUser{
  padding:50px;
}
.tittle-card-cliente{
  float: right;

}
.text-card-cliente{
  font-size: 10px;
}

.nav-top{
  background-color: white;
  border:none;
  box-shadow: 0 10px 20px rgba(216,216,216,0.09), 0 6px 6px rgba(216,216,216,0.09);
 
}
.logo{
  width: 140px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 20px;
}
.notificacion-numero{
  background-color: #72F535;
}
.nav-item{
  height: 63px;
  display: flex;
   justify-content: center;
   align-items: center;
}

.nav-item-hijo{
  line-height: 33px;
}
.btn-primary {
  background-color: #EF0056;
  border-color: #EF0056;
  box-shadow: 3px 1px 4px  rgba(0, 0, 0, .14);
}
.btn-green {
  background-color: #36DC28;
  border-color: #36DC28;
  box-shadow: 3px 1px 4px  rgba(0, 0, 0, .14);
  color:white;
}
.btn-orange {
  background-color: #EB6509;
  border-color: #EB6509;
  box-shadow: 3px 1px 4px  rgba(0, 0, 0, .14);
  color:white;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #5708C0 !important;
}

.btn-primary:focus {
   box-shadow: 0 1px 4px  rgba(0, 0, 0, .6);
}

.buttonNav{
  padding: 0px !important;
  margin: 0px !important;
  border:none !important;
}
.popover{
  border: none !important;
  width: 1000px !important;
  max-width: 450px;
  margin-left: -100px;
  position: absolute !important;
  padding: 0px;
  
}
.popover-content{
  
  padding: 0px;
}
.arrow{
  margin-left: 90px !important;
}
.solicitudPendiente{
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #D8D8D8;  
}
.solicitudPendiente:hover{
 background-color: #D8D8D8;
}
.col1{
  background-color: #009C1A;
}
.col2{
  background-color: #700DF2;
}

.solicitudPic{
  width: 60px;
  height: 60px;
  float: left;
  padding:10px;
}
.datosSolicitud{
  width: 60%;
  float: left;
  
}

.ts{
  padding-top:10px; 
  
}

.btnPic{
  background-color: transparent;
  border: none;
  padding: 10px;
  position: absolute;
  color: transparent;
  margin-top: 40px;
  margin-left: 24px;
  
}
.btnPic:hover{
  color: white;
  background: rgba(87,194,0,0.49);
background: -moz-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,194,0,0.49)), color-stop(100%, rgba(145,232,66,0.5)));
background: -webkit-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: -o-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: -ms-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: linear-gradient(to right, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c200', endColorstr='#91e842', GradientType=1 );
}
.btnPic:focus{
  color: white;
  font-weight: bold;
  background: rgba(87,194,0,0.49);
background: -moz-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,194,0,0.49)), color-stop(100%, rgba(145,232,66,0.5)));
background: -webkit-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: -o-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: -ms-linear-gradient(left, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
background: linear-gradient(to right, rgba(87,194,0,0.49) 0%, rgba(145,232,66,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c200', endColorstr='#91e842', GradientType=1 );
}
.progress-bar-success{
  color:#095000;
  background: rgba(210,255,82,1);
background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}
