body{
  background-color: #F4F4F4;
}
a{
  color: #929292;
}
.ic{vertical-align: -4px;}

.left-menu{
  width: auto;

}
.left-menu-item{
  list-style: none;
  margin-bottom:20px;
  color:#888888;
  width: 300px;
  display: inline-block;
}

.search{ margin-top:40px;}
.input-group-addon{
  background-color: white;
  border:none;
  border:solid 1px #D6D6D6;
  border-right: none;
  box-shadow: none;
}
.input-group .form-control{
  border:none;
  background-color:white;
  border:solid 1px #D6D6D6;
  border-left: none;
}
.nav-pills>li {
  background-color: white;
  border-radius: 10px; 
  text-align: center;
  color:#01C216 !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color:#095000 !important;
  background-color: white;
  border-radius: 10px; 
  border:0px solid white !important;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-cliente{
  margin:20px;
  background-color: white;
  border-radius: 10px; 
  border:1px solid #D6D6D6 !important;
  padding:20px;

}
.contenidoCard{
text-align: center;
}
.img-card-cliente{
  width: 100px;
  height: 100px;
  text-align: center ;
  margin: 0 auto;
 
}
.tarjetaUser{
  padding:50px;
}
.tittle-card-cliente{
  float: right;

}
.text-card-cliente{
  font-size: 10px;
}

.nav-top{
  background-color: white;
  border:none;
  box-shadow: 0 10px 20px rgba(216,216,216,0.09), 0 6px 6px rgba(216,216,216,0.09);
 
}
.logo{
  width: 180px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 20px;
}
.notificacion-numero{
  background-color: #72F535;
}